<%= form_for(@toy) do |f| %>
  <% if @toy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toy.errors.count, "error") %> prohibited this toy from being saved:</h2>

      <ul>
      <% @toy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="outerForm">
	  <div class="field">
	    <%= f.label( :name, :class => 'formTitle' ) %>
	    <%= f.text_field( :name, :size => 60, :class => 'stdForm' ) %>
	  </div>
	  <div class="field">
	    <%= f.label( :tag, :class => 'formTitle' ) %>
	    <%= f.text_field( :tag, :size => 60, :class => 'stdForm' ) %>
	  </div>
	  <div class="field">
	    <%= f.label( :loaned, :class => 'formTitle' ) %>
	    <%= f.text_field( :user, :size => 40, :class => 'stdForm' ) %>
	  </div>
	  <div class="field">
	    <%= f.label( :owner, :class => 'formTitle' ) %>
	    <%= f.text_field( :owner, :size => 40, :class => 'stdForm' ) %>
	  </div>

	  <div class="actions">
	    <a class="deleteButton" href="." data-confirm="Are you sure?" data-method="delete" rel="nofollow">delete</a>
	    <a class="submitButton" href="#" rel="nofollow">submit</a>
	    <!-- <%= f.submit( :class => 'submitButton' ) %> -->
	  </div>
  </div>
<% end %>
