<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>KXD Toys - Toy Management</title>
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans&display=swap' rel='stylesheet'>
  
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <div id="container">
    <header id="hdr">
      <a href="/"><img src="/img/base/header.png" alt="header" width="756" height="58" /></a>
    </header>
    
    <div id="main" role="main">
      <div id="editHeader"></div>
      <div id="contentArea">
        <%= render "shared/flash" if flash.any? %>
        <%= yield %>
      </div>
    </div>
    
    <footer id="ftr">
      <img src="/img/base/bottom.png" alt="bottom" width="757" height="22" />
    </footer>
  </div> <!-- eo #container -->
</body>
</html>
